<html>
    <head>
        <title>Ninja Gold</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form action="/" method="POST">
                Your Gold: {{session['gold']}}
        </form>

        <div class="building">
            <h1>Farm</h1>
            <p>(earns 10-20 golds)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="farm"/>
            <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="building">
            <h1>Cave</h1>
            <p>(earns 5-10 golds)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="cave"/>
            <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="building"v>
            <h1>House</h1>
            <p>(earns 2-5 golds)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="house"/>
            <input type="submit" value="Find Gold!"/>
        </form>
        </div>
        <div class="building">
            <h1>Casino</h1>
            <p>(earns/takes 0-50 golds)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="casino" />
            <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <h3>Activities: </h3>
        <div id="special">
            
            {% for val in session['activity'] %}
            <p class= "{{val[0]}}">
            {{ val[1] }}
             </p>
            {% endfor %}
            
            
        </div>

    </body>
</html>